In [22]:
import sqlite3

In [23]:
conn = sqlite3.connect('Test.db')
c = conn.cursor()
def create_tables():
    c.execute("CREATE TABLE IF NOT EXISTS TableOne(keyword TEXT, value Real, Num Real)")

In [24]:
def data_entry():
    c.execute("INSERT INTO TableOne VALUES('TYPE', 1234, 50)")
    conn.commit()

In [25]:
#create_tables()
#data_entry()

In [45]:
sql = ("SELECT * "
       "FROM TableOne "
       "WHERE 1=1 ")
c.execute(sql)

In [54]:
#cursor 只能用一次
names = [columns[0] for columns in c.description]
print(names)   
vals = c.fetchall()
for val in vals:
    print(val)

['keyword', 'value', 'Num']

['keyword', 'value', 'Num']

In [18]:


c.close
conn.close